::-webkit-scrollbar{
    width:6px;
    background:#ccc;
}
::-webkit-scrollbar-thumb{
    background:#777;
}

html {
    padding:0;
    overflow-y:scroll;
}

body {
    margin:0;
    padding:0;
    background:#fff;
    color:#000;
    font-size:14px;
    line-height:21px;
    font-family:Arial,Helvetica,sans-serif;
}

div {
    display:block;
}
ul {
    list-style:none;
    padding:0;
    margin:0;
}

#wrapper {
    width:940px;
    margin:0 auto;
    overflow:hidden;
}
#sidebar {
    float:left;
    width:200px;
    margin-top:80px;
    position:fixed;
    text-align:right;
}
#sidetable {
    border:1;
}
#sidetable td {
    border:none;
    padding-right:20px;
    width:200px;
}
#name {
    text-transform:uppercase;
    font-size:26px;
    font-weight:bold;
    color:#006699;
    font-style:oblique;

    text-shadow:#999 2px 2px 0;
}
#internal {
    margin-top:50px;
    font-size:20px;
}
#internal li{
    margin-bottom:30px;
}
#internal li a{
    color:#0066cc;
    text-decoration:none;
    text-shadow:#ccc 1px 1px 0;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#internal li a:hover{
    color:#000;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
#external {
    margin-top:50px;
}
#external li {
    margin-bottom:20px;
}
#nav {
    margin-top:30px;
}
#content {
    width:680px;
    float:right;
    position:relative;
    margin-top:50px;
    margin-bottom:50px;
}
#home-title {
    margin-bottom:50px;
    text-align:center;
}
#home-title h1 {
    line-height:34px;
}
#home-title p {
    font-family:"Times New Roman";
    margin-top:5px;
    margin-bottom:2px;
    font-size:20px;
}

.home-block {
    margin-left:10px;
}
.home-block h3 {
    color:#990000;
}
.home-block ul {
   list-style:initial;
   margin-left:20px;
}
#people-title h1 {
    display:inline;
    line-height:30px;
}
#people-title p {
    font-family:cursive;
    font-size:16px;
    display:inline;
    position:absolute;
    right:0px;
}
